@import "./vendors/font_families";
@import "./vendors/reset";
@import "./vendors/variables";
@import "./vendors/color_class";
@import "./vendors/mixins/responsive";
@import "./vendors/utilities";

@import "./layouts/app";
@import "./layouts/navbar";

@import "./components/custom_scroll";
@import "./components/text_formatter";
@import "./components/buttons";
@import "./components/card";
@import "./components/check_box";
@import "./components/home_time_date";
@import "./components/sweet_alert";
@import "./components/form";

@import "./components/margin";
@import "./components/padding";
@import "./components/drop_down";

@import "./components/app_window";
@import "./components/calendar";
@import "./components/todo";
@import "./components/date_custom";

@import "./components/table";

@import "./pages/crud/all";
@import "./pages/crud/form";
@import "./pages/crud/modal";
@import "./pages/crud/side_modal";
@import "./pages/crud/view";
@import "./pages/crud/off_canvas";

@import "./pages/dashboard_home/dashboard_main";
@import "./pages/dashboard_home/analytics";

@import "./components/management_root";

/** public/assets/dashboard/scss/style.scss **/