.management_root {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(7px);
    border: 1px solid var(--brand_color2);
    border-radius: 4px;
    padding: 10px;

    &.no_border {
        padding: 10px 0px;
        border: 0;
    }

    .layout_heading {
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}