.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.m-auto {
    margin: auto;
}


@for $i from 1 through 5 {
    .m-#{$i} {
        margin: $i * 10px;
    }

    .mx-#{$i} {
        margin: $i * 10px;
    }

    .my-#{$i} {
        margin: $i * 10px;
    }

    .mt-#{$i} {
        margin: $i * 10px;
    }

    .mr-#{$i} {
        margin: $i * 10px;
    }

    .mb-#{$i} {
        margin: $i * 10px;
    }

    .ml-#{$i} {
        margin: $i * 10px;
    }
}